<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
    <img class="rounded-t-lg w-full h-full" ngSrc="{{imageSRC}}" alt="{{imageALT}}" width="200" height="100"/>
  </a>
  <div class="p-5">
    <a href="#">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center border-b-2 pb-4">{{cardTitle}}</h5>
    </a>
    <div class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      <ng-content/>
    </div>

    <ng-container *ngIf="buttonText">
      <a href="#"
         class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        {{ buttonText }}
      </a>
    </ng-container>
  </div>
</div>

